*
{
    margin: 0;
    padding: 0;
}
:root
{
    --main-color: blue;

}
html{
    background: linear-gradient(360deg,#383836 10%,#4a4a4a 360%);
}


section
{
    background: transparent;
    padding: 1em;
    border-radius: 1% / 1%;
    border: solid var(--main-color) 0.1em;
    width: min(70vh, 80em);
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    aspect-ratio: 1;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12),0px 6px 32px rgba(0,0,0,0.16);
}

#button-row{
    display: flex;
}

button
{
    width: fit-content;
    margin: 0.5em auto;
    font-size: xx-large;
    padding: 0.2em;
    background-color: transparent;
    border: solid var(--main-color) 0.1em;
    border-radius: 50%;
    color: var(--main-color);
}

audio{
    display: none;
}

canvas{
    border: solid var(--main-color) 0.1em;
    border-radius: 1%;
}

section > h1, h2
{
    width: 100%;
    font-size: x-large;
    text-align: center;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

#game
{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.column
{
    display: flex;
    flex-direction: column;
    padding: 3%;
}

#column-one
{
    width: 65%;
}

#column-two
{
    width: 35%;
}

#score-container
{
    background-color: transparent;
    border: solid var(--main-color) 0.1em;
    padding: 0.2em;
    border-radius: 10%;
    width: 40%;
    margin: 1em auto;
}

#score
{
    text-align: center;
    color:white;
    font-size: large;
    font-family: 'Orbitron', sans-serif;
}

