*
{
    margin: 0;
    padding: 0;
}

section
{
    background: linear-gradient(to right, rgb(102, 125, 182), rgb(0, 130, 200), rgb(0, 130, 200), rgb(102, 125, 182));
    padding: 1em;
    border-radius: 1% / 1%;
    width: min(70vh, 80em);
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    aspect-ratio: 1;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.12),0px 6px 32px rgba(0,0,0,0.16);
}

#button-row{
    display: flex;
}

button
{
    width: fit-content;
    margin: 0.5em auto;
    font-size: xx-large;
    padding: 0.2em;
    border-radius: 50%;
}

audio{
    display: none;
}


section > h1, h2
{
    width: 100%;
    text-align: center;
    color: white;
}

#game
{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.column
{
    display: flex;
    flex-direction: column;
    padding: 3%;
}

#column-one
{
    width: 65%;
}

#column-two
{
    width: 35%;
}

#score-container
{
    background-color: white;
    border: solid 0.1em darkgray;
    border-radius: 1%;
    width: 40%;
    margin: 1em auto;
}

#score
{
    text-align: center;
}

html{
    background-image: url("https://wallpapers.com/images/file/blue-and-white-tetris-abstract-pattern-bb5dv16ewxsb8bgk.jpg");
}