*
{
    margin: 0;
    padding: 0;
}
:root
{
    --main-color: blue;

}
html{
    background: linear-gradient(360deg,#383836 10%,#4a4a4a 360%);
}


section
{
    background: transparent;
    padding: 1em;
    border-radius: 1% / 1%;
    border: solid var(--main-color) 0.1em;
    width: min(70vh, 80em);
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    aspect-ratio: 1;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 1.5rem var(--main-color),
              0 0 0.8rem var(--main-color),
              0 0 2.4rem var(--main-color),
              inset 0 0 1.1rem var(--main-color);
}

#button-row{
    margin-top: 0.5em;
    display: flex;
}

button
{
    width: fit-content;
    margin: 0.5em auto;
    font-size: xx-large;
    padding: 0.2em;
    background-color: transparent;
    border: solid transparent 0.1em;
    border-radius: 50%;
    color: white;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 1.5rem var(--main-color),
              0 0 0.8rem var(--main-color),
              0 0 2.4rem var(--main-color);
}

audio{
    display: none;
}

canvas{
    border: solid var(--main-color) 0.1em;
    border-radius: 1%;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 1.5rem var(--main-color),
              0 0 0.8rem var(--main-color),
              0 0 2.4rem var(--main-color),
              inset 0 0 1.1rem var(--main-color);
}

section > h1, h2
{
    width: 100%;
    font-size: x-large;
    text-align: center;
    color: white;
    font-family: 'Orbitron', sans-serif;
    
}

#game
{
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 2em;
}

.column
{
    display: flex;
    flex-direction: column;
    padding: 3%;
}

#column-one
{
    width: 65%;
}

#column-two
{
    width: 35%;
}

#score-container
{
    background-color: transparent;
    padding: 0.2em;
    border-radius: 10%;
    width: 40%;
    margin: 1em auto;
}

#score
{
    text-align: center;
    color:white;
    font-size: large;
    font-family: 'Orbitron', sans-serif;
}

